<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new artist</title>
</head>
<body>
    <form action="/artist/new" method="POST">
        <div>
            <label for="artist_name">Artist Name</label>
            <input type="text" id="artist_name" name="artist_name" />
        </div>
        <div>
            <button type="create">Submit</button>
        </div>
    </form>
    <a href="/dashboard">back</a>
</body>
</html>