<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>
        Welcome {{session[ 'first_name' ] }}
    </h1>
    <div>
        <a href= "/add/review"> Add a review</a>
        <a href= "/add/artist"> Add a new artist</a>
        <a href = "" >HELLO</a>
        <a href = "/logout"> Logout</a>
    </div>
    <div>
        <table>
            <tr>
                <th>Review</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
            {%for review in reviews%} 
            <tr> 
                <td> {{review.review}} </td>
                <td> {{review.num_stars}} </td>
                <td> <p>edit and delete</p></td>
            </tr>
            {%endfor%}
        </table>

        <table>
            <tr>
                <th>Artist Name</th>
            </tr>
            {%for artist in artists%} 
            <tr> 
                <td> {{artist.artist_name}} </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>